POSTGRES_DB=expense_db
POSTGRES_USER=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PASSWORD=db-password-example
POSTGRES_PORT=5432

CHEQUES_SERVICE_APP_PORT=4000
REPORTS_SERVICE_APP_PORT=4001

AI_SERVICE_PORT=4002
OLLAMA_PORT=11434
OLLAMA_MODEL=qwen3:4b
